#frequently-question{
    padding-top: 60px;
    padding-bottom: 60px;
    .section-heading{
        text-align: center;
        h2{
            text-align: center;
            font-size: 48px;
            font-weight: 300;
            color: #232323;
            margin-bottom: 20px;
            @media (max-width: 768px){
                font-size: 26px;
            }
        }
        p{
            margin-bottom: 80px;
            font-size: 17px;
            color: #777;
            text-align: center;
            line-height: 25px;
        }
    }
    .question{
        h3{
            font-size: 16px;
            color: $black;
            font-weight: 500;
            line-height: 1.2;
        }
        p{
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 14px;
            line-height: 1.7;
            color: gray;
            font-weight: 400;
        }
    }
    .contact-form{
        text-align: center;
        padding: 100px;
        background: rgba(0, 136, 232, 1);
        background: -moz-linear-gradient( -45deg, rgba(0, 136, 232, 1) 0%, rgba(0, 182, 198, 1) 0%, rgba(0, 136, 232, 1) 100% );
        background: -webkit-gradient( left top, right bottom, color-stop(0%, rgba(0, 136, 232, 1)), color-stop(0%, rgba(0, 182, 198, 1)), color-stop(100%, rgba(0, 136, 232, 1)) );
        background: -webkit-linear-gradient( -45deg, rgba(0, 136, 232, 1) 0%, rgba(0, 182, 198, 1) 0%, rgba(0, 136, 232, 1) 100% );
        background: -o-linear-gradient( -45deg, rgba(0, 136, 232, 1) 0%, rgba(0, 182, 198, 1) 0%, rgba(0, 136, 232, 1) 100% );
        background: -ms-linear-gradient( -45deg, rgba(0, 136, 232, 1) 0%, rgba(0, 182, 198, 1) 0%, rgba(0, 136, 232, 1) 100% );
        background: linear-gradient( 135deg, rgba(0, 136, 232, 1) 0%, rgba(0, 182, 198, 1) 0%, rgba(0, 136, 232, 1) 100% );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088e8', endColorstr='#0088e8', GradientType=1 );
        @media (max-width: 768px){
            padding: 40px;
        }
        .container-fluid {
            padding-right: 0px;
            padding-left: 0px;
            overflow-x: hidden;
        }
        fieldset {
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
            input, textarea {
                color: #777;
                font-size: 14px;
                border: none;
                width: 100%;
                height: 50px;
                outline: none;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 0px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin-bottom: 30px;
                border: none;
                padding-top: 6px;
            }
            textarea{
                height: 144px;
            }
            .contact-field {
                background-color: rgba(250, 250, 250, 0.3);
            }
            button.main-button {
                outline: none;
                border: none;
                cursor: pointer;
                font-size: 13px;
                border-radius: 20px;
                padding: 10px 20px;
                background-color: #f55858;
                text-transform: uppercase;
                color: $white;
                letter-spacing: 0.25px;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
            }
        }
    }
}