<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <title>Impulse</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
    <% include /src/include/header.ejs %> 
        <section class="welcome-area" id="welcome">
            <div class="header-text">
                <div class="container">
                    <div class="row">
                        <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h1>Art Factory is free <strong>for YOU</strong></h1>
                            <p>This template is available for 100% free of charge on TemplateMo. Download, modify and use this for your business
                                website.</p>
                            <a href="#about" class="main-button-slider">Find Out More</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img src="images/slider-icon.png" class="rounded img-fluid d-block mx-auto" alt="First Vector Graphic">
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section class="section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <img src="images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                    </div>
                    <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                        <div class="left-heading">
                            <h5>Vivamus sodales nisi id ante molestie venenatis</h5>
                        </div>
                        <div class="left-text">
                            <p>This template is <a href="#">last updated on 20 August 2019 </a>for main menu drop-down arrow and sub menu
                                text
                                color. Duis auctor dolor eu scelerisque vestibulum. Vestibulum lacinia, nisl sit amet tristique condimentum.
                                <br><br>
                                Sed a consequat velit. Morbi lectus sapien, vestibulum et sapien sit amet, ultrices malesuada odio. Donec
                                non
                                quam euismod, mattis dui a, ultrices nisi.</p>
                            <a href="#about2" class="main-button">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="about2">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                        <div class="left-heading">
                            <h5>Curabitur aliquam eget tellus id porta</h5>
                        </div>
                        <p>Proin justo sapien, posuere suscipit tortor in, fermentum mattis elit. Aenean in feugiat purus.</p>
                        <ul>
                            <li>
                                <img src="images/about-icon-01.png" alt="">
                                <div class="text">
                                    <h6>Nulla ultricies risus quis risus</h6>
                                    <p>You can use this website template for commercial or non-commercial purposes.</p>
                                </div>
                            </li>
                            <li>
                                <img src="images/about-icon-02.png" alt="">
                                <div class="text">
                                    <h6>Donec consequat commodo purus</h6>
                                    <p>You have no right to re-distribute this template as a downloadable ZIP file on any
                                        website.</p>
                                </div>
                            </li>
                            <li>
                                <img src="images/about-icon-03.png" alt="">
                                <div class="text">
                                    <h6>Sed placerat sollicitudin mauris</h6>
                                    <p>If you have any question or comment, please <a rel="nofollow"
                                            href="#">contact</a> us on TemplateMo.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big"
                        data-scroll-reveal="enter right move 30px over 0.6s after 0.4s" data-scroll-reveal-id="4"
                        data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                        <img src="images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                    </div>
                </div>
            </div>
        </section>
        <section id=courses>
            <div class="container">
                <div class="row blog">
                    <div class="col-md-12">
                        <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-4 slider-show">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/service-icon-01.png" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Business & Management</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <div class="mt"> <a href="#" tabindex="0"
                                                            class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/service-icon-02.png" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Social Media</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0"
                                                            class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/service-icon-03.png" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Graphic &amp; Web Design</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0"
                                                            class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
                                <div class="carousel-item ">
                                    <div class="row">
                                        <div class="col-md-4 slider-show">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/service-icon-01.png" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Summer Kids</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0"
                                                            class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/service-icon-01.png" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Marketing</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0"
                                                            class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="item-box-blog">
                                                <div class="item-box-blog-image">
                                                    <!--Image-->
                                                    <figure> <img alt="" src="images/service-icon-01.png" class="img-fluid">
                                                    </figure>
                                                </div>
                                                <div class="item-box-blog-body">
                                                    <!--Heading-->
                                                    <div class="item-box-blog-heading">
                                                        <h5>Graphic &amp; Web Design</h5>
                                                    </div>
                                                    <!--Data-->
                                                    <div class="item-box-blog-data" style="padding: px 15px;">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                    <!--Text-->
                                                    <div class="mt"> <a href="#" tabindex="0"
                                                            class="btn bg-blue-ui white read">read
                                                            more</a> </div>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#blogCarousel" data-slide-to="1"></li>
                            </ol>
                            <!--.carousel-inner-->
                        </div>
                        <!--.Carousel-->
                    </div>
                </div>
            </div>
        </section>
        <section id="frequently-question">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>Frequently Asked Questions</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 m-auto">
                        <div class="section-heading">
                            <p>Vivamus venenatis eu mi ac mattis. Maecenas ut elementum sapien. Nunc euismod risus ac lobortis congue. Sed
                                erat quam.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-5 question aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
                        </div>
                        <div class="mb-5 question aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
                        </div>
                        <div class="mb-5 question aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
                        </div>
                        <div class="mb-5 question aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-5 question aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">Where are you from?</h3>
                            <p>Voluptatum nobis obcaecati perferendis dolor totam unde dolores quod maxime corporis officia et. Distinctio
                                assumenda
                                minima maiores.</p>
                        </div>
                        <div class="mb-5 question aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">What is your opening time?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
                        </div>
                        <div class="mb-5 question aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
                        </div>
                        <div class="mb-5 question aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        <section id="frequently-question">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div id="map">
                            <iframe src="images/map.png" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Full Name" required="" class="contact-field">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="E-mail" required="" class="contact-field">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Your Message" required=""
                                                class="contact-field"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send It</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>            
        <% include /src/include/footer.ejs %>

            <% include /src/include/scripts.ejs %>
                <script>
                    $(window).scroll(function () {
                        if ($(window).scrollTop() >= 200) {
                                $('nav').addClass('fixed-header');
                        }
                        else {
                                $('nav').removeClass('fixed-header');
                        }
                    });

                    $(document).ready(function () {
                        var itemsMainDiv = ('.MultiCarousel');
                        var itemsDiv = ('.MultiCarousel-inner');
                        var itemWidth = "";

                        $('.leftLst, .rightLst').click(function () {
                            var condition = $(this).hasClass("leftLst");
                            if (condition)
                                click(0, this);
                            else
                                click(1, this)
                        });

                        ResCarouselSize();




                        $(window).resize(function () {
                            ResCarouselSize();
                        });

                        //this function define the size of the items
                        function ResCarouselSize() {
                            var incno = 0;
                            var dataItems = ("data-items");
                            var itemClass = ('.item');
                            var id = 0;
                            var btnParentSb = '';
                            var itemsSplit = '';
                            var sampwidth = $(itemsMainDiv).width();
                            var bodyWidth = $('body').width();
                            $(itemsDiv).each(function () {
                                id = id + 1;
                                var itemNumbers = $(this).find(itemClass).length;
                                btnParentSb = $(this).parent().attr(dataItems);
                                itemsSplit = btnParentSb.split(',');
                                $(this).parent().attr("id", "MultiCarousel" + id);


                                if (bodyWidth >= 1200) {
                                    incno = itemsSplit[3];
                                    itemWidth = sampwidth / incno;
                                }
                                else if (bodyWidth >= 992) {
                                    incno = itemsSplit[2];
                                    itemWidth = sampwidth / incno;
                                }
                                else if (bodyWidth >= 768) {
                                    incno = itemsSplit[1];
                                    itemWidth = sampwidth / incno;
                                }
                                else {
                                    incno = itemsSplit[0];
                                    itemWidth = sampwidth / incno;
                                }
                                $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                                $(this).find(itemClass).each(function () {
                                    $(this).outerWidth(itemWidth);
                                });

                                $(".leftLst").addClass("over");
                                $(".rightLst").removeClass("over");

                            });
                        }


                        //this function used to move the items
                        function ResCarousel(e, el, s) {
                            var leftBtn = ('.leftLst');
                            var rightBtn = ('.rightLst');
                            var translateXval = '';
                            var divStyle = $(el + ' ' + itemsDiv).css('transform');
                            var values = divStyle.match(/-?[\d\.]+/g);
                            var xds = Math.abs(values[4]);
                            if (e == 0) {
                                translateXval = parseInt(xds) - parseInt(itemWidth * s);
                                $(el + ' ' + rightBtn).removeClass("over");

                                if (translateXval <= itemWidth / 2) {
                                    translateXval = 0;
                                    $(el + ' ' + leftBtn).addClass("over");
                                }
                            }
                            else if (e == 1) {
                                var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                                translateXval = parseInt(xds) + parseInt(itemWidth * s);
                                $(el + ' ' + leftBtn).removeClass("over");

                                if (translateXval >= itemsCondition - itemWidth / 2) {
                                    translateXval = itemsCondition;
                                    $(el + ' ' + rightBtn).addClass("over");
                                }
                            }
                            $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                        }

                        //It is used to get some elements from btn
                        function click(ell, ee) {
                            var Parent = "#" + $(ee).parent().attr("id");
                            var slide = $(Parent).attr("data-slide");
                            ResCarousel(ell, Parent, slide);
                        }

                    });


                </script>
</body>

</html>